@page "/spoonacular-II-recipes"
@using RestSharp;
@using Newtonsoft.Json
@using Receitas_API.Data
@using Receitas_API.Models
@using Receitas_API.Components

@using Syncfusion.Blazor.DropDowns
@inject IJSRuntime JS

<div id="spinnerContainer"></div>
<SfSpinner @ref="SpinnerObj"
           Label="Processando..."
           Type="@SpinnerType.Bootstrap4" Size="50"
           CssClass="e-spin-overlay">
</SfSpinner>
<PageTitleComponent PageTitle="Spoonacular recipes II" />
<hr />

<div class="row">
    <div class="col-sm-4 col-md-12">
        <label>Choose country/region</label>
    </div>
    <div class="col-lg-4 col-md-12">
        <SfDropDownList PopupWidth="250px" PopupHeight="450px" @bind-Value="@RegionName" AllowFiltering="true"
                        CssClass="custom-class e-corner"
                        FilterBarPlaceholder="Filter" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                        TItem="CuisineRegion" TValue="string" Placeholder="Select" DataSource="@RegionsData">
            <DropDownListEvents TItem="CuisineRegion" TValue="string" ValueChange="onChange"></DropDownListEvents>
            <DropDownListFieldSettings Text="RegionName" Value="ID"></DropDownListFieldSettings>
        </SfDropDownList>
    </div>
</div>
<hr />
@if (recipesTitles == null)
{
    <LoadingData spinnerMessage="Loading recipes from Spoonacular api" />
}
else
{
    <ul class="recipe-list">
        @foreach (var recipesTitle in recipesTitles.results)
        {
            <li class="recipe-list-item">
                <SpoonacularRecipes_II_Card SpoonacularRecipe="recipesTitle" OnSelectedRecipe="HandleSelectedRecipe" />
            </li>
        }
    </ul>

    <SfDialog Width="60%"
              Height="86%"
              MinHeight="86%"
              IsModal="true"
              ShowCloseIcon="false"
              EnableResize="true"
              AllowDragging="true"
              @bind-Visible="RecipeDetailVisibility">
        <DialogTemplates>
            <Header>
                <h4 class="recipe-card-name">@RecipeDetail.title</h4>
            </Header>
            <Content>
                <div class="recipe-card">
                    <div class="recipe-card-body">
                        <div class="img-box">
                            <img src="@RecipeDetail.image" />
                        </div>
                        @{
                            var t = Task.Run(() => GetRecipeDetails(RecipeDetail.id));
                            t.Wait();

                            recipeDetails = t.Result;
                        }

                        <div class="content">
                            <div class="detail-title"><h6>Ingredients and Preparation</h6></div>
                            @foreach (var mainSteps in recipeDetails)
                            {
                                mainStepsDetails = mainSteps.steps.ToList();
                                foreach (var detail in mainStepsDetails)
                                {
                                    string ingredients = "";
                                    foreach (var ingredient in detail.ingredients)
                                    {
                                        ingredients += ingredient.name + ", ";
                                    }
                                    if (!string.IsNullOrEmpty(ingredients))
                                    {
                                        ingredients = ingredients.Substring(0, ingredients.Length - 2);
                                        <div class="ingredient">@ingredients</div>
                                    }
                                    <div>@detail.step"</div>
                                }
                            }
                        </div>
                    </div>
                    <hr />
                </div>
            </Content>
            <FooterTemplate>
                <div>
                    <SfButton CssClass="e-outline e-round-corner"
                              IconCss="fas fa-times"
                              @onclick="(()=>RecipeDetailVisibility = false)" Content="Voltar">
                    </SfButton>
                </div>
            </FooterTemplate>
        </DialogTemplates>
    </SfDialog>
}


<style type="text/css" scoped>
    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    #SideCard .e-card .e-card-content {
        height: 376px;
        margin: 16px;
        padding-top: 10px;
    }

    #DetailCard .e-card .e-card-content {
        padding-top: 0px;
    }

    /*   .e-spinner-pane .e-spinner-inner .e-spin-bootstrap4 {
                                                                                    stroke: green;
                                                                                }*/

    .e-card > .e-card-image {
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        min-height: 350px;
        min-width: 350px;
    }

    .e-btn {
        margin-left: 4px;
    }

    .header-area .top-header-area .top-social-info a {
        display: inline-block;
        color: #b6b6b6;
        font-size: 13px;
        margin-right: 30px;
    }


    /* Styles for the content section */

    .content {
        width: 90%;
        margin: 10px auto;
        font-family: 'Merriweather', serif;
        font-size: 17px;
        color: #6c767a;
        line-height: 1.4;
    }

        .content .ingredient {
            color: steelblue;
            font-size: 1.2rem;
            font-weight: bold;
            margin-top: 6px;
            margin-bottom: 6px;
            border-block: 2px solid #D3D3D3;
        }

    /*-- Images Hover Effects CSS --*/
    .img-box {
        position: relative;
        transition: .5s;
        max-height: 330px;
        overflow: hidden;
        margin-bottom: 30px;
        border-radius: 0px 100px;
    }

        .img-box img {
            max-width: 100%;
            border: 3px solid #FFC107;
            position: relative;
            width: 100%;
        }

        .img-box::before {
            content: '';
            border-left: 3px solid #ffffff;
            border-top: 3px solid #ffffff;
            position: absolute;
            left: 20px;
            top: 20px;
            width: 50px;
            height: 50px;
            z-index: 1;
            transition: .5s;
        }

        .img-box::after {
            content: '';
            border-right: 3px solid #ffffff;
            border-bottom: 3px solid #ffffff;
            position: absolute;
            right: 20px;
            bottom: 20px;
            width: 50px;
            height: 50px;
            z-index: 2;
            transition: .5s;
        }

        .img-box:hover {
            transform: scale(1.04);
        }

            .img-box:hover::before {
                left: 10px;
                top: 10px;
            }

            .img-box:hover::after {
                right: 10px;
                bottom: 10px;
            }

    .e-chip .e-chip-text {
        font-size: 0.7rem;
        color: black;
        font-weight: normal;
    }

    .e-chip-list .e-chip.e-outline {
        border-color: #e513135b;
        border-width: 3px;
    }

    .recipe-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* grid-template-columns: repeat(3, 1fr); */
        gap: 5px;
        /* margin: 0.5rem 5px; */
        text-align: center;
    }

        .recipe-icons i {
            font-size: 1.5rem;
            /* color:  var(--primary-500); */
        }

        .recipe-icons h5,
        .recipe-icons p {
            margin-bottom: 0;
            font-size: 0.85em;
        }

        .recipe-icons p {
            color: lightpink;
        }

    .detail-title {
        font-family: 'Merriweather', serif;
        text-align: center;
        border-style: groove;
    }

</style>

